# Python
.venv/
__pycache__/
*.py[cod]
*.sqlite3

# Django/Wagtail
media/
staticfiles/

# OS
.DS_Store
Thumbs.db

# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
